* {
    font-family: 'Varela Round';
}

header {
    display:
    height: 20%;
    align-items: center;
    justify-content: center;
}

main {
     
}

.container #content{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 100%;
}

#intro {
    background-color: #5D9E55
    display: grid;
    grid-column-start: 2;
    grid-column-end: span 2;
}

article {
    background-color: #5D9E55
}

#left-bar {
    background-color: #50BDC1;
    display: flex;
    height: 100%;
    width: 20%;
}