html {
    background-color: ivory;
}

#front-page {
    background-color: ivory;
    background-image: url("C:/projects/portfolio.github.io/images/IMG-8222.jpg");
    background-size: cover;
    opacity: 0.8;
}

* {
    font-family: 'Varela Round';
}

header {
    display: flex;
    background-color: #9BC49C;
    height: 20%;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    opacity: 1;
}

#page-title {
    align-self: center;
    font-family: "Yeseva One";
}

main.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    opacity: 1;
}

#left-bar {
    background-color: #50BDC1;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    padding: 5px;
    margin: 20px;
    opacity: 1;
}

#left-bar > h3 {
    text-align: center;
}

ul {
    list-style-type: none;
}

li > a {
    font-family: "Lato";
}

a:link {
    color: blueviolet;
    text-decoration: none;
}

a:visited {
    color: brown;
    text-decoration: none;
}

a:hover {
    color: palevioletred;
    text-decoration: underline;
}

a:active {
    color: gray;
}

#intro {
    background-color: #5D9E55;
    grid-column: 2 / span 4;
    grid-row: 1 / span 3;
    padding: 10px;
    margin: 20px;
    text-align: center;
    min-height: 300px;
}

footer {
    display: flex;
    background-color: #9BC49C;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    opacity: 1;
}

address {
    align-self: center;
}

address > a {

}

#cons-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.card {
    background-color: #CD8C69;
    padding: 10px;
    max-width: 400px;
}

.card > h3 {
    text-align: center;
}