html {
    background-color: #5D9E55;
    font-family: 'Varela Round';
}

header {
    display:
    height: 20%;
    align-items: center;
    justify-content: center;
}

#page-title {
}

#left-bar div {
    background-color: #50BDC1;
    display: flex;
    height: 100%;
    width: 20%;
}